body {
  font-family: 'Montserrat', sans-serif;
  color: #444;
}

header {
  display: block;
  width: 90%;
  border-bottom: 1px solid #ccc;
  margin-left: 5%;
  margin-top: 8%;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.false-For-Bottom-Text {
  margin: 15px;
  color: #444;
}


h1 { 
  font-weight: 400;
  color: #444;
 }

p { 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #444;
}