body {
  font-family: 'Montserrat', sans-serif;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
}

.false-For-Bottom-Text {
  margin: 15px;
}

p { 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}